.Main-table {
    grid-area: t;
    display: grid;
    grid-template-columns:  1fr ;
    grid-template-areas: "tbl";
    height:52vh;
}

.Main-table table {
    margin: 0 5vw 0 5vw;
    font-size: calc(1vmin + 8px);
    border: 2px solid #DDDDDD;
    border-collapse: collapse;
    background-color: #FFFFFF;
    table-layout: auto;
}


.Scrolling-part {
    overflow-y: scroll;
    display: grid;
    grid-template-columns:  1fr ;
    grid-template-areas: "table-data";
}

.Main-table th, td {
    display: table-cell;
    width: 5%;
    border: 1px solid #DDDDDD;
    text-align: center;
    padding: 1.5vh;
    box-sizing: border-box;
}


.Main-table thead th {
    font-weight: normal;
    background-color: #EEEEEE;
    color: #888888;
    cursor: pointer;
    position: sticky;
    top: -1px;
    z-index: 1;
}

.Selected-td {
    border: 2px solid #BBBBBB;
}

.Clickable {
    cursor: pointer;
}

.Car-name {
    text-align: left;
}

.No-cars-label {
    text-align: center;
    padding: 2vh;
    color: #888888;
}

.Selected-car {
    font-weight: bolder;
    font-size: calc(1vmin + 4px);
    grid-area: chcar;
    text-align: left;
    padding: 1.5vh;
    margin: 0 calc(5vw + 13px) 0 5vw;
    height: 2vh;
    background-color: #EEEEEE;
    border: 2px solid #DDDDDD;
    color: #888888;
}

.fixed-head {
    position: fixed;
}