.App {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 12vh 1fr 12vh;
  grid-template-areas: "h h" "s c" "f f";
  color: #666666;
}

.App-header {
  display: flex;
  grid-area: h;
  background-color: #EEEEEE;
  font-size: calc(10px + 4vmin);
}

.App-header div {
  margin: auto;
}

.App-sidebar {
  display: flex;
  grid-area: s;
  background-color: #DDDDDD;
  font-size: calc(10px + 4vmin);
}

.App-sidebar div {
  margin: auto;
}

.App-footer {
  display: flex;
  grid-area: f;
  background-color: #CCCCCC;
  font-size: calc(10px + 4vmin);
}

.App-footer div {
  margin: auto;
}

.Content {
  grid-area: c;
  display: grid;
  grid-template-rows: 3vh 5vh calc(52vh - 1px) 5vh 3vh;
  grid-template-areas: "." "i" "t" "chcar" ".";
  grid-gap: 20px;
}


